<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="interfaceDetail">
    <template id="yapi-interface-detail">
        <el-container>

        </el-container>
    </template>
    <script>
        const YApiInterfaceDetail = {
            template: '#yapi-interface-detail',
            components: [],
            props: [],
            data() {
                return {}
            },
            created() {
            },
            mounted() {

            },
            methods: {}
        }
        Vue.component('yapi-interface-detail',YApiInterfaceDetail)
    </script>
    <style scoped>

    </style>
</div>
</html>