<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>YApi-server</title>
    <link rel="stylesheet" th:href="@{/element-ui/lib/theme-chalk/index.css}">
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue-router.min.js}"></script>
    <script type="text/javascript" th:src="@{/element-ui/lib/index.js}"></script>

</head>
<body>
<div id="app">
    <router-view></router-view>
</div>
<template th:replace="|/component/indexbg|::indexbg"></template>
<template th:replace="|/component/loginlogo|::loginlogo"></template>
<template th:replace="|/component/header|::header"></template>
<template th:replace="|/pages/login|::login"></template>
<template th:replace="|/pages/HomePage|::HomePage"></template>
<template th:replace="|/pages/GroupPage|::GroupPage"></template>
<template th:replace="|/pages/ProjectAddPage|::ProjectAddPage"></template>
<script type="text/javascript" th:src="@{/js/request.js}"></script>
<script setup>

    const routes = [
        {
            name: '',
            path: '/',
            redirect: {name: 'homePage'}
        },
        {
            path: '/homePage',
            name: 'homePage',
            component: YapiHomePage
        },
        {
            path: '/login',
            name: 'login',
            component: YapiLogin
        }, {
            path: '/groupPage',
            name: 'groupPage',
            component: YapiGroupPage
        },{
            path: '/projectAdd',
            name: 'projectAdd',
            component: YapiProjectAddPage
        }
    ]
    const router = new VueRouter({
        routes
    })

    const app = new Vue({
        el: '#app',
        router,
        data() {

        },
        components: [
            YapiIndexBg,
            YapiLoginLogo,
            YapiHeader,
            YapiLogin,
            YapiHomePage,
            YapiGroupPage,
            YapiProjectAddPage
        ]

    })
</script>
<style>
    body,html{
        margin: 0;
        padding: 0;
    }
</style>
</body>
</html>